<div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.446097585023!2d80.19688141541343!3d13.007239690832574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52661b8061bc35%3A0x5266213283bf97ef!2sAgira%20Technologies!5e0!3m2!1sen!2sin!4v1655271000290!5m2!1sen!2sin"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>

<mat-card class="contact">
  <h1>Contact Us!</h1>
  <label for="cont">Enter Your Name</label>
  <input type="text" id="cont" name="contact" />
  <label for="number">Enter Your Mobile Number</label>
  <input type="text" id="number" name="contact" />
  <label for="email">Enter Your email address</label>
  <input type="email" id="email" name="contact" />
</mat-card>
