<div class="row gx-4 gx-lg-5 align-items-center my-5">
  <div class="col-lg-7">
    <img
      class="img-fluid rounded mb-4 mb-lg-0"
      src="assets/0a2d20e4ba94c41307b9c7c96ddcf4c2.jpg"
      alt="..."
    />
  </div>
  <div class="col-lg-5">
    <h1 class="font-weight-light">Achotop</h1>
    <p>
      We have a strong and professional customer service team with production
      efficiency and delivery speed as well as a complete quality inspection
      process. Please believe that we have 16 years of professional rubber
      manufacturing experience. Support and meet your DIY customization needs of
      any size and style, and ship within 2-5 days, the products have high
      quality and beautiful colors. We are the best rubber product provider for
      you to buy one piece or bulk purchase.
    </p>
    <a
      class="btn btn-primary"
      target="blank"
      href="https://www.aliexpress.com/item/1005002525796826.html?af=9467952&aff_fcid=aa6ff48e974243df8a2f302bcee432ab-1655187800123-06646-_vaPkEk&aff_fsk=_vaPkEk&aff_platform=api-new-link-generate&sk=_vaPkEk&aff_trace_key=aa6ff48e974243df8a2f302bcee432ab-1655187800123-06646-_vaPkEk&terminal_id=4b72b47988724df7b3a5f0d450e5c720&afSmartRedirect=y"
      >Explore</a
    >
  </div>
</div>
<!-- Call to Action-->
<div class="card text-white bg-secondary my-5 py-4 text-center">
  <div class="card-body">
    <p class="text-white m-0">
      This call to action card is a great place to showcase some important
      information or display a clever tagline!
    </p>
  </div>
</div>
