<div class="row gx-4 gx-lg-5">
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Screen</h2>
        <p class="card-text">
          Screen protectors are incredibly important tools to have because they,
          as the name suggests, keep your device's display safe from scratches,
          smudges, and other forms of damage that can occur when your laptop is
          in a bag with other objects or when you're attempting to wipe
          something off of the screen.
        </p>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="#!">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Keyboard</h2>
        <p class="card-text">
          There are two major types of computer keyboards: Basic and Extended.
          The Basic keyboard contains 104 keys and is enough to perform all the
          functions that can be done on a Windows PC. The Extended keyboard may
          have additional keys, and the design varies among the companies
          manufacturing them.
        </p>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="#!">More Info</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Mouse</h2>
        <p class="card-text">
          Mouse is a tool used for navigating throug the system to select the
          appropriate option in the website
        </p>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="#!">More Info</a>
      </div>
    </div>
  </div>
</div>

<video class="vid" width="320" height="240" controls>
  <source
    src="https://www.youtube.com/watch?v=iZ1mlcCkY8A&t=6243s"
    type="video/mp4"
  />
  <source src="movie.ogg" type="video/ogg" />
  Your browser does not support the video tag.
</video>

<div class="you">
  <p>
    <a href="http://www.youtube.com" target="blank"
      ><img
        class="img-fluid rounded mb-4 mb-lg-0"
        src="assets/download.png"
        width="150px"
        height="150px"
    /></a>
  </p>
  <h4 class="check">Check out youtube for more videos!</h4>
</div>
